__pycache__/
/.venv
/.playback-venv
/my-read-k/bridge/.build
/macos-speech-bridge/.build
/macos-speech-bridge/my-read-speech-bridge
*.elc
/assets/asuka.wav
/speech-http-app/build/
/playback-app/build/
